@import "_variables_moon.scss";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?vghjnk') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?vghjnk') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?vghjnk##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_arrow_left {
  &:before {
    content: $icon_arrow_left; 
  }
}
.icon_arrow_up {
  &:before {
    content: $icon_arrow_up; 
  }
}
.icon_checked {
  &:before {
    content: $icon_checked; 
  }
}
.icon_checked_2 {
  &:before {
    content: $icon_checked_2; 
  }
}
.icon_download {
  &:before {
    content: $icon_download; 
  }
}
.icon_email {
  &:before {
    content: $icon_email; 
  }
}
.icon_facebook {
  &:before {
    content: $icon_facebook; 
  }
}
.icon_growth {
  &:before {
    content: $icon_growth; 
  }
}
.icon_ic_1 {
  &:before {
    content: $icon_ic_1; 
  }
}
.icon_ic_2 {
  &:before {
    content: $icon_ic_2; 
  }
}
.icon_ic_3 {
  &:before {
    content: $icon_ic_3; 
  }
}
.icon_ic_4 {
  &:before {
    content: $icon_ic_4; 
  }
}
.icon_ic_5 {
  &:before {
    content: $icon_ic_5; 
  }
}
.icon_ic_6 {
  &:before {
    content: $icon_ic_6; 
  }
}
.icon_ic_7 {
  &:before {
    content: $icon_ic_7; 
  }
}
.icon_ic_8 {
  &:before {
    content: $icon_ic_8; 
  }
}
.icon_ic_9 {
  &:before {
    content: $icon_ic_9; 
  }
}
.icon_ic_10 {
  &:before {
    content: $icon_ic_10; 
  }
}
.icon_ic_11 {
  &:before {
    content: $icon_ic_11; 
  }
}
.icon_icon {
  &:before {
    content: $icon_icon; 
  }
}
.icon_instagram {
  &:before {
    content: $icon_instagram; 
  }
}
.icon_linked {
  &:before {
    content: $icon_linked; 
  }
}
.icon_maps {
  &:before {
    content: $icon_maps; 
  }
}
.icon_paper {
  &:before {
    content: $icon_paper; 
  }
}
.icon_passport {
  &:before {
    content: $icon_passport; 
  }
}
.icon_pen {
  &:before {
    content: $icon_pen; 
  }
}
.icon_printer {
  &:before {
    content: $icon_printer; 
  }
}
.icon_twitter {
  &:before {
    content: $icon_twitter; 
  }
}
.icon_wallet {
  &:before {
    content: $icon_wallet; 
  }
}
.icon_youtube {
  &:before {
    content: $icon_youtube; 
  }
}