$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon";

$icon_arrow_left: "\e900";
$icon_arrow_up: "\e901";
$icon_checked: "\e902";
$icon_checked_2: "\e903";
$icon_download: "\e904";
$icon_email: "\e905";
$icon_facebook: "\e906";
$icon_ic_1: "\e907";
$icon_ic_2: "\e908";
$icon_ic_3: "\e909";
$icon_ic_4: "\e90a";
$icon_ic_5: "\e90b";
$icon_ic_6: "\e90c";
$icon_ic_7: "\e90d";
$icon_ic_8: "\e90e";
$icon_ic_9: "\e90f";
$icon_ic_10: "\e910";
$icon_ic_11: "\e911";
$icon_icon: "\e912";
$icon_instagram: "\e913";
$icon_linked: "\e914";
$icon_maps-and-flags: "\e915";
$icon_paper: "\e916";
$icon_passport-card: "\e917";
$icon_printer-printing-document: "\e918";
$icon_twitter: "\e919";
$icon_youtube: "\e91a";


