$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon";

$icon_arrow_left: "\e900";
$icon_arrow_up: "\e901";
$icon_checked: "\e902";
$icon_email: "\e903";
$icon_facebook: "\e904";
$icon_ic_1: "\e905";
$icon_ic_2: "\e906";
$icon_ic_3: "\e907";
$icon_ic_4: "\e908";
$icon_ic_5: "\e909";
$icon_ic_6: "\e90a";
$icon_ic_7: "\e90b";
$icon_ic_8: "\e90c";
$icon_ic_9: "\e90d";
$icon_ic_10: "\e90e";
$icon_ic_11: "\e90f";
$icon_instagram: "\e910";
$icon_paper: "\e911";
$icon_youtube: "\e912";

