@import
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss',
	'_fonts.scss',
	'_style_moon.scss',
	'param',
	'_icons.scss',
	'footer',
	'header';
body,html{
	height: 100%;
}

.col_static_xl_center{
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 1230px;
}
.article_home{
	height: 567px;
	background: url(../images/article_bg.png) 50% 0;
	background-size: cover;
	h1{
		margin: 0;
		font-size: 36px;
		line-height: 43px;
		color: #000;
		font-weight: 500;
	}
}
.blockquote{
	display: flex;
	margin: 40px -10px 0;
	padding-bottom: 45px;
	.blockquote_img{
		width: 80px;
		height: 80px;
		flex: 0 0 100px;
		max-width: 100px;
		padding: 0 10px;
		img{
			border-radius: 50%;
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.blockquote_txt{
		flex: 1 1 auto;
		width: 1%;
		padding: 0 10px;

		blockquote{
			margin: 0;
			padding: 0;
			q{
				&:after,&:before{content: none;}
				display: block;
				font-size: 21px;
				line-height: 25px;
				color: #000;
				font-weight: normal;
			}
			cite{
				display: block;
				font-size: 15px;
				line-height: 16px;
				color: #000;
				font-style: normal;
				padding-top: 3px;
			}
		}
	}
}
.bg_mac{
	margin-bottom: -44px;
	position: relative;
	overflow: hidden;
	// display: table;
	max-width: 100%;
	width: 100%;
	max-width: 522px;

}
.anim_holder{
	position: absolute;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	// max-width: 300px;
	width: 100%;
	// padding: 20px 20px 0 21px;
	padding: 17px 10px 0;
	margin: 0 auto;
	@include media-breakpoint-down(lg){
		padding-top: 13px;
	}
	img{
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}
.section_how_work{
	padding-top: 80px;
	
	h3{
		margin: 0;
		font-weight: bold;
		font-size: 27px;
		line-height: 32px;
		color: #464646;
		padding-bottom: 20px;
	}
	p{
		font-size: 17px;
		line-height: 20px;
		color: #464646;
		margin: 0;
		+ ul.list_styled{
			padding-top: 13px;
		}
	}
	h4{
		margin: 19px 0 0 0;
		color: #bd0046;
		font-size: 19px;
		line-height: 22px;
		font-weight: bold;
	}
}
.col_custom_short{
	flex: 0 0 270px;
	max-width: 270px;
	padding: 0 15px;
}
.section_about_us {
	overflow: hidden;
	h2{
		margin-top: 25px;
	}
}
.bdl_left{
	border-left: 2px solid #aebdea;
}
.bar_numbers{
	padding: 17px 15px;
	position: relative;
	&:before{
		content: '';
		height: 100%;
		width: 99999px;
		background: linear-gradient(to right, rgba(173,214,249,1) 0%,rgba(189,191,245,1) 100%);
		box-shadow: 0 2px 10px 0px rgba(#000,.24);
		display: block;
		position: absolute;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		top: 0;
		left: 0;
	}
	strong{
		font-size: 40px;
		line-height: 43px;
		color: #bc0046;
		font-weight: normal;
		display: block;
		padding-top: 8px;
		@include media-breakpoint-up(lg) {
			font-size: calc(54vw / 19.2);
			line-height: calc(55vw / 19.2);
		}
	}
	span{
		font-weight: bold;
		display: block;
		font-size: 21px;
		line-height: 22px;
		color: #000;
		padding-top: 10px;
		padding-bottom: 6px;
	}
}
.section_news{
	p{
		font-size: 17px;
		line-height: 20px;
		color: #464646;
	}
}
.video_wrapper{
	position: relative;
	.video_holder{
		position: absolute;
		margin-top: -15px;
		top: 50%;
		left: 50%;
		max-width: 560px;
		width: 100%;
		transform:translate(-50%, -50%);
		@include media-breakpoint-down(lg) {
			max-width: 480px;
		}
	}
}

.list_news{
	.prev_post{
		display: block;
		width: 100%;
		img{
			display: block;
		}
	}
	li{
		padding-bottom: 30px;
		padding-right: 15px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	img{
		border-radius: 10px;
	}
	h3{
		margin: 13px 0 0 0;
		margin: 0;
		padding-top: 13px;
		font-size: 18px;
		line-height: 20px;
		color: #000;
		font-weight: bold;
		display: block;
		a{
			color: #000;
		}
	}
}
.section_news{
	overflow: hidden;
}
.bg_gray{
	background: #ebeaed;
}
.section_labels{
	h2{
		font-size: 29px;
		line-height: 32px;
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}
.main{
	padding-top: 65px;
}
.link_back_page{
	color: rgba(#676565,.6);
	font-size: 13px;
	line-height: 15px;

	i{
		color: #626161;
		&.icon_arrow_left{
			font-size: 7px;
		}
	}
	a{
		color: rgba(#676565,.6);
		transition: all 0.3s ease;
		&:hover{
			color: #bc0046;
			text-decoration: none;
			i{
				color: #bc0046;
			}
		}
	}
}
.faq_list{
	margin: 0;
	padding: 0;
	list-style: none;
	// border-top: 1px solid #dcdee1;
	li{
		border-bottom: 1px solid #959494;
		padding: 0;
		&:last-child{
			border: 0;
		}
		a{
			padding-right: 40px;
			display: block;
			position: relative;
			padding-top: 16px;
			padding-bottom: 11px;
			&:hover{
				text-decoration: none;
			}
			span{
				width: 29px;
				height: 29px;
				display: block;
				position: absolute;
				top: 10px;
				right: 10px;
				@include media-breakpoint-down(md){
					top: 13px;
				}
				&:before,&:after{
					content: '';
					width: 15px;
					height: 3px;
					background: #d10146;
					position: absolute;
					top: 50%;
					left: 50%;
					transform:translate(-50%,-50%);
					transition: all 0.2s ease;
				}
				&:after{
					transform:translate(-50%,-50%) rotate(-90deg);
				}
			}
		}
		&.active{
			a{
				font-weight: bold;
				// background: #d10146;
				// padding-left: 10px;
				// color: #fff;
				span{
					&:after{
						transition: all 0.2s ease;
						transform:translate(-50%,-50%) rotate(0deg);
						// background: #fff;
					}
				}
			}
		}
		p{
			margin: 0;
			font-size: 15px;
			line-height: 22px;
			color: #464646;
			font-weight: normal;
			padding-bottom: 23px;
		}
	}
	h3{
		margin: 0;
		font-size: 15px;
		line-height: 17px;
		color: #464646;
		font-weight: normal;
		a{
			color: #464646;
		}
	}
}
.post_content{
	h1{
		font-size: 38px;
		line-height: 39px;
		color: #1a1a18;
		font-weight: bold;
	}
	h2{
		font-size: 30px;
		line-height: 32px;
		font-weight: bold;
		color: #686867;
		margin: 0;
		padding-bottom: 25px;
	}
	h3{
		color: #686867;
		font-size: 24px;
		line-height: 26px;
		margin: 0;
		padding-bottom: 20px;
	}
	p{
		font-size: 16px;
		line-height: 19px;
		color: #464646;
		margin: 0;
		padding-bottom: 17px;
	}
	.list_styled{
		padding-bottom: 16px;
	}
}
p.lead{
	font-size: 17px;
	line-height: 20px;
	&.lead_big{
		color: #313131;
		font-size: 21px;
		line-height: 27px;
	}
}
.career_block{
	h3{
		font-weight: bold;
		font-size: 23px;
		line-height: 24px;
		color: #1a1a18;
		margin: 0;
	}
	p{
		font-size: 15px;
		line-height: 22px;
		margin: 0;
	}
	img{margin: 0 auto;display: block;}
	.bb-1{
		border-bottom: 1px solid #e0e0e0;
	}
	.bonus{
		background: linear-gradient(to right, rgba(236,233,252,1) 0%,rgba(229,242,254,1) 86%,rgba(231,243,254,1) 100%);
		text-align: center;
		font-size: 18px;
		line-height: 20px;
		padding:7px 5px;
		color: #a61f33;
		display: block;
		border-radius: 8px;
		margin-top: 12px;
		font-weight: bold;
	}
	.cntr{
		width: 80%;
		margin: 0 auto;
	}
	.bordered{
		position: relative;
		padding-top: 15px;
		padding-bottom: 15px;
		min-height: 150px;
		&:after,&:before{
			content: '';
			width: 1px;
			background: #e3e3e3;
			height: 120px;
			position: absolute;
			left: 0;
			top: 50%;
			transform:translateY(-50%);
		}
		&:before{
			left: auto;
			right: 0;
		}
	}
}
.logo_part{
	margin-bottom: -8px;
}
.start_career{
	border-bottom: 1px solid #e0e0e0;
}
.row_career{
	position: relative;
	&:after{
		content: '';
		height: 1px;
		background: #e0e0e0;
		width:calc( 100% - 16.66667%);
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&.row_career_disabled{
		img{
			filter: grayscale(100%);

		}
	}
}
.row_cases{
	.col-4{
		&:nth-child(3n+3){
			.case_box{
				&.opened{
					.drop_case{
						left: auto;
						right: 85%;
					}
				}
			}
		}
	}
}
.case_box{
	width: 85%;
	&.opened{
		.drop_case{
			left: 50%;
			display: block;
			
		}
	}
	.case_prev{
		flex: 0 0 160px;
		max-width: 160px;
		cursor: pointer;
	}
	.case_cost{
		flex: 1 1 auto;
		width: 1%;
		padding-left: 20px;
		h3{
			font-size: 21px;
			line-height: 22px;
			color: #313131;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
		h4{
			margin: 0;
			padding: 0;
			font-size: 25px;
			line-height: 26px;
			font-weight: bold;
			color: #d10146;
		}
	}
}
.drop_case{
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 340px;
	display: none;
	background: #f2f2f2;
	border: 2px solid #a70451;
	border-radius: 9px;
	padding: 0 10px;
	z-index: 100;
	box-shadow: 0 0 21px 0px rgba(#8c7474,.35);
	li{
		border-top: 1px solid #d5d5d5;
		padding: 11px 7px 12px;
		&:first-child{
			border-top: 0;
		}
	}
	span{
		font-size: 13px;
		line-height: 17px;
		color: #313131;
		flex: 0 0 175px;
		max-width: 175px;
	}
	strong{
		font-size: 13px;
		line-height: 17px;
		color: #a80451;
		font-weight: bold;
		flex: 1 1 auto;
		width: 1%;
		padding-left: 10px;
	}
}
.main{
	.section_about_us{
		overflow: visible;
		padding-left: 0;
		padding-right: 0;
	}
}
.main_content_holder{
	overflow: hidden;
}
.text_red{
	color: #cd0146 !important;
}
.bg_white{
	background: #fff !important;
}
.row_course{
	img{
		display: block;
		height: auto;
		border: 2px solid #cfcfcf;
		border-radius: 11px;
	}
}
.hlp_column{
	flex: 0 0 100%;
	max-width: 100%;
}
.modal_dialog_custom{
	.modal-xl,.modal-lg{
		max-width: 1140px !important;
		width: 100% !important;
		padding-left: 10px;
		padding-right: 10px;
		@include media-breakpoint-down(xs){
			margin-left: 0;
			margin-right: 0;
		}
	}
	.modal-lg{
		max-width: 700px !important;
	}
	.modal-header{
		width: 100%;
		overflow: hidden;
		border-bottom: 0;
	}
	.close{
		opacity: 1;
		color: rgba(#000,.62) !important;
		position: relative;
		padding: 0;
		margin: 0;
		margin-left: auto;
		i{
			font-style: normal;
			position: absolute;
			top: 2px;
			left: 0;
		}
		span{
			span{
				font-size: 15px;
				padding-left: 21px;
			}
		}
	}
}
.lb_title {
	font-size: 25px;
	line-height: 27px;
	color: #313131;
	font-weight: bold;
	margin: 0;
}
.min_w{
	min-width: 155px;
	font-size: 15px;
}
.forgot_pass,.go_reg{
	font-size: 17px;
	font-weight: normal;
	margin: 0;
}
.forgot_pass{
	margin-top: 45px;
	a{
		color: #624e4e;
	}
}
.go_reg{
	margin-top: 20px;
	a{
		color: #a70413;
	}
}
.no_acc{
	font-size: 13px;
	font-weight: normal;
	margin-top: 5px;
	a{
		color: rgba(#313131,.61);
	}
}
.status_prev{
	margin-bottom: 30px;
	i{
		font-size: 93px;
		color: #d10146;
	}
}
.or_txt{
	color: #7a7777;
	overflow: hidden;
	span{
		position: relative;
		display: inline-block;
		padding: 0 30px;
		background: #fff;
		z-index: 2;
		&:after,&:before{
			content: '';
			height: 1px;
			width: 9999px;
			position: absolute;
			top: 50%;
			left: 100%;
			display: block;
			background: #a6a6a6;
			transform:translateY(-50%);
			z-index: 1;
		}
		&:before{
			content: '';
			left: auto;
			right: 100%;
		}
	}
}
.help_txt{
	p{
		color: rgba(#7a7777,.55);
		font-size: 13px;
		line-height: 15px;
	}
}
.profile_sidebar{
	flex: 0 0 265px;
	max-width: 265px;
}
.grayscale.grayscale-replaced > svg{
	display: block !important;
	max-width: 100% !important;
	height: auto !important;
}
.grayscale.grayscale-replaced{
	background: none !important;
	width: auto !important;
	display: block !important;
	height: 100px !important;
}
.latest_news{
	img{
		border-radius: 9px;
	}
	h2{
		margin: 0;
		font-size: 19px;
		line-height: 20px;
		color: #313131;
		font-weight: bold;
		padding-bottom: 17px;
	}
	p{
		margin: 9px 0 0 0;
		font-size: 13px;
		line-height: 19px;
		color: #464646;
	}
	h3,p{
		padding: 0 10px;
	}
	h3{
		margin: 0;
		padding-top: 13px;
		font-size: 15px;
		line-height: 17px;
		font-weight: bold;
		color: #000;
		a{
			color: #000;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.table_calc{
	table-layout: fixed;
	th{
		width: 25%;
		text-align: center;
		font-size: 21px;
		line-height: 22px;
		color: #000;
		font-weight: normal;
		border-top: 0;
		border-bottom: 2px solid #d5d9fa;
		vertical-align: top !important;
		padding-top: 17px;
		padding-bottom: 6px;
		@include media-breakpoint-down(lg){
			font-size: 15px;
			line-height: 16px;
		}
		&:first-child{
			text-align: left;
		}
		i{
			font-size: 22px;
			color: #919292;
			margin-right: 16px;
			@include media-breakpoint-down(lg){
				font-size: 15px;
			}
		}
		span{
			display: block;
			font-size: 13px;
			line-height: 14px;
			color: #b3b2b2;
		}
	}
	td{
		vertical-align: middle !important;
		text-align: center;
		font-size: 21px;
		line-height: 22px;
		border-bottom: 1px solid #dadada;
		padding-top: 16px;
		padding-bottom: 12px;
		@include media-breakpoint-down(lg){
			font-size: 18px;
			line-height: 19px;
		}
		span{
			font-weight: 500;
		}
		&:first-child{
			text-align: left;
		}

	}
	tr{
		&:last-child{
			td{
				border-bottom: 0;
			}
		}
	}
	.bg_gray_2{
		background: #f8f8f8;
	}
	.group_calc{
		max-width: 133px;
		margin: 0 auto;
	}
}
.table_total{
	padding-top: 15px;
	padding-bottom: 11px;
	background: linear-gradient(to right, rgba(217,211,249,1) 0%,rgba(216,213,249,1) 22%,rgba(205,228,253,1) 78%,rgba(204,230,253,1) 100%);
	strong{
		display: inline-block;
		vertical-align: middle;
		font-size: 21px;
		line-height: 22px;
		color: #d10146;
		font-weight: bold;
		min-width: 25%;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		font-size: 21px;
		line-height: 22px;
		color: #000;
		font-weight: normal;
	}
}